fieldset {
width: 33%;
  border-width: 2px;
  border-style: groove;
  padding-bottom: 10px;
}

legend {
  font-size: 30px
}

input{
  resize: none;
  border-radius: 5px;
  border-style: groove;
  border-color: #eee;
  border-width: 2px;
  width: 60%;
}

label {
  width: 30%;
  text-align: right;
  padding: 2px;
}

label#CP{
  width: 30.8%;
}

input#Nb{
  width: 7.5%;
}

input#CP{
  width: 12%;
}

input#Street{
  width: 50.5%;
}

input#City{
  width: 46%;
}

.bouton{
  width:auto;
  margin-left: 39%
}

.background{
  background-color: #ADD8E6;
  height: device-height
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  fieldset{
    width:50%
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  fieldset{
    width:75%
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  fieldset{
    width:100%
  }
}
